/survtower-business/survtower-business-common/target/
/survtower-business/survtower-business-central/target/
/survtower-business/survtower-business-member/target/
/survtower-client/survtower-client-central/target/
/survtower-ws/survtower-ws-api/survtower-ws-api/target/
/survtower-client/survtower-client-member/target/
/survtower-ws/survtower-ws-impl/target/