/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 26, 2015, 2:09:17 PM
    Author     : hitrac
*/

.body {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 0.5em;
}

.panel{
    border-color: goldenrod;
    background-color: #FFEE7E;
}

.inputtextpanel{
    width:  400px;
}

.menu{
    border-color: goldenrod;
    background-color: #D1B218;
}

.submenu{
    background-color: #D1B218;
}

.ui-icon.green {
    background-image: url(ui-icons_0E9005_256x240.png);
}

.ui-icon.red {
    background-image: url(ui-icons_ff0000_256x240.png);
}